.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.title{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: 700;
    margin: 80px 0 24px 0;
}
.title-text{
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 400;
    opacity: 70%;
    line-height: 24px;
}
.btn{
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

/* Navbar Style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
/* Navbar Button Hover Effect */
.nav-btn{
    border-radius: 8px;
    border-color: #006A50;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: #006A50; 
    border: 2px solid #006A50;
  }
  
  .button1:hover {
    background-color: #006A50;
    color: white;
  }

/* Banner Section */
.banner-container{
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    align-items: center;
    height: 560px;
    justify-content: space-between;
}
.banner-item{
    margin-left: 60px;
}
.banner-img{
    margin-right: 60px;
}
.banner-title{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}
.banner-text{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

/* Vision of Future */
.vcard-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.vcard-item1{
    background-color: #D5E1F5;
    border-color: #5490F5;
    padding: 32px;
    border-radius: 16px;
}
.vcard-item1 .btn{
    background-color: #5490F5;
}
.vcard-item2{
    background-color: #C6E4D6;
    border-color: #09A15C;
    padding: 32px;
    border-radius: 16px;
}
.vcard-item2 .btn{
    background-color: #09A15C;
}
.vcard-item3{
    background-color: #F7EBCF;
    border-color:#FFC239;
    padding: 32px;
    border-radius: 16px;
}
.vcard-item3 .btn{
    background-color: #FFC239;
}
.vcard-title{
    font-size: 20px;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
    margin-top: 24px;
}
.vcard-text{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 70%;
    margin-top: 12px;
    margin-bottom: 48px;
}

/* Recent News Style */
.card-item{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 48px;
    gap: 32px;
    margin-top: 24px;
}
.card-img{
    border-radius: 24px;
}
.card-title{
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
    opacity: 80%;
    margin-bottom: 12px;
}
.card-desc{
    margin-bottom: 32px;
}
.card-date{
    display: inline-block;
    margin: 12px 12px 12px 0;
}
.news-card-container{
    margin-top: 32px;
}

/* Donate Today Styles */
.donate-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.donate-container>p{
    width: 1104px;
    margin: 0 auto;
}
.donate-card-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 32px 104.5px;
}
.dcard-item{
    background-color: #FFFFFF;
    color: #0E0E0E;
    border-color: rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 40px;
}
.dcard-item:nth-child(2){
    background-color: #C6E4D6;
}
.dcard-title{
    color: #0E0E0E;
    opacity: 80%;
    font-weight: 700;
    font-size: 40px;
}
.donate-container input{
    font-size: 20px;
    text-align: center;
    width: 1032px;
    padding: 20px 40px;
    margin: 32px 0;
    background-color: #FFFFFF;
    border-color: rgba(14, 14, 14, 0.15);
}
.donate-container input::placeholder{
    font-size: 20px;
    font-weight: 400;
    color: #0E0E0E;
    opacity: 30%;
}
